#dashboard-tab {
  --dashboard-gap: 15px;
  --component-length: 225px;
  --component-width: 225px;
  --dashboard-rows: repeat(auto-fill, var(--component-length));
  --dashboard-columns: repeat(auto-fill, var(--component-width));
  --component-width-multiplier: 1;
  --component-length-multiplier: 1;
  --grid-rows: attr(data-grid-rows number);
  --grid-columns: attr(data-grid-columns number);
  grid-column: 1/3;
  overflow-y: auto;
  height: 100%;
}
#dashboard-tab .dashboard-container {
  display: grid;
  grid-template-rows: var(--dashboard-rows);
  grid-template-columns: var(--dashboard-columns);
  gap: var(--dashboard-gap);
  padding: 25px 15px;
  height: 100%;
  box-sizing: border-box;
  max-width: calc(var(--grid-columns) * var(--component-width) + (var(--grid-columns) + 1) * var(--dashboard-gap));
  margin-left: auto;
  margin-right: auto;
}
#dashboard-tab .dashboard-container .dashboard-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: calc(var(--component-width) * attr(data-width number) + (attr(data-width number) - 1) * var(--dashboard-gap));
  height: calc(var(--component-length) * attr(data-length number) + (attr(data-length number) - 1) * var(--dashboard-gap));
  grid-column: span attr(data-width number);
  grid-row: span attr(data-length number);
}
#dashboard-tab .dashboard-container .dashboard-item .dashboard-item-header {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
#dashboard-tab .dashboard-container .team-summary .member-sprite-small {
  width: 50px;
  height: 50px;
}
#dashboard-tab .dashboard-container .team-summary .cell {
  background-color: unset;
  text-align: center;
}
#dashboard-tab .dashboard-container .team-summary .cell.type-cell img {
  width: 30px;
  height: 30px;
}
#dashboard-tab .dashboard-container .team-summary tbody tr:hover {
  background-color: #fafafa;
  cursor: pointer;
}
#dashboard-tab .dashboard-container .team-summary tbody tr .cell {
  padding: 20px 5px;
}