#dashboard-tab {
    // grid variables
    --dashboard-header-height: 100px;
    --dashboard-gap: 15px;
    --component-length: 225px;
    --component-width: 225px;
    --dashboard-rows: repeat(auto-fill, var(--component-length));
    --dashboard-columns: repeat(auto-fill, var(--component-width));
    --component-width-multiplier: 1;
    --component-length-multiplier: 1;
    --grid-columns: 6;
    --grid-rows: 4;
    --dashboard-bg: #fafcff;
    grid-column: 1/3;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .dashboard-header{
        margin: 15px auto 0px;
        display: flex;
        align-items: center;
        height: var(--dashboard-header-height);
        background: var(--dashboard-bg);
        border-radius: 20px;
        width: calc(var(--grid-columns) * var(--component-width) + calc(var(--grid-columns) + 1) * var(--dashboard-gap));
        padding: 5px 20px;
    }

    .dashboard-container {
        display: grid;
        grid-template-rows: var(--dashboard-rows);
        grid-template-columns: var(--dashboard-columns);
        gap: var(--dashboard-gap);
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        max-width: calc(var(--grid-columns) * var(--component-width) + calc(var(--grid-columns) + 1) * var(--dashboard-gap));
        background: var(--dashboard-bg);
        margin: 15px auto;
        border-radius: 20px;
        flex-grow: 1;

        .dashboard-item {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            padding: 10px 15px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            --item-width: 1;
            --item-height: 1;
            --column-start: 1;
            --row-start: 1;

            // size based on data attributes
            width: calc(var(--component-width) * var(--item-width) + (var(--item-width) - 1) * var(--dashboard-gap));
            height: calc(var(--component-length) * var(--item-height) + (var(--item-height) - 1) * var(--dashboard-gap));

            // column and row span based on data attributes
            grid-column: span var(--item-width);
            grid-row: span var(--item-height);

            
            &.pos-override {
                grid-column-start: var(--column-start);
                grid-row-start: var(--row-start);
            }

            .dashboard-item-header {
                margin-bottom: 0.7rem;
                margin-top: 0.5rem;

            }
        }

        .team-summary {
            .member-sprite-small {
                width: 50px;
                height: 50px;
            }

            .cell {
                background-color: unset;
                &.type-cell {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                text-align: center;
            }

            tbody {
                tr {
                    &:hover {
                        background-color: #fafafa;
                        cursor: pointer;
                    }

                    .cell {
                        padding: 20px 5px;
                    }
                }
            } 

            .no-team-message {
                cursor: pointer;
                flex-grow: 1;

                &:hover {
                    background-color: #fafafa;
                }
            }
        }

        .resource-list {
            a {
                text-decoration: none;
                color: inherit;
                width: 100%;
            }

            li {
                padding: 2px 10px;
                list-style: none;
                &:hover {
                    background-color: #fafafa;
                    cursor: pointer;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .dashboard-saved-teams {
            background: #fafafa;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            overflow-y: auto;
            flex-grow: 1;

            .team-item {
                padding: 10px 0px;
                border-bottom: 1px solid #e0e0e0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: #f0f0f0;
                    cursor: pointer;
                }
                .team-name {
                    max-width: 91px;
                    width: 91px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .btn:hover {
                    background-color: #e0e0e0;
                }

                &.active {
                    background-color: #d0e8ff;
                }
            }
        }
    }
}