#dashboard-tab {
  --dashboard-header-height: 100px;
  --dashboard-gap: 15px;
  --component-length: 225px;
  --component-width: 225px;
  --dashboard-rows: repeat(auto-fill, var(--component-length));
  --dashboard-columns: repeat(auto-fill, var(--component-width));
  --component-width-multiplier: 1;
  --component-length-multiplier: 1;
  --grid-rows: attr(data-grid-rows number);
  --grid-columns: attr(data-grid-columns number);
  --dashboard-bg: #fafcff;
  grid-column: 1/3;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#dashboard-tab .dashboard-header {
  margin: 15px auto 0px;
  display: flex;
  align-items: center;
  height: var(--dashboard-header-height);
  background: var(--dashboard-bg);
  border-radius: 20px;
  width: calc(var(--grid-columns) * var(--component-width) + (var(--grid-columns) + 1) * var(--dashboard-gap));
  padding: 5px 20px;
}
#dashboard-tab .dashboard-container {
  display: grid;
  grid-template-rows: var(--dashboard-rows);
  grid-template-columns: var(--dashboard-columns);
  gap: var(--dashboard-gap);
  padding: 25px 15px;
  width: 100%;
  box-sizing: border-box;
  max-width: calc(var(--grid-columns) * var(--component-width) + (var(--grid-columns) + 1) * var(--dashboard-gap));
  background: var(--dashboard-bg);
  margin: 15px auto;
  border-radius: 20px;
  flex-grow: 1;
}
#dashboard-tab .dashboard-container .dashboard-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: calc(var(--component-width) * attr(data-width number) + (attr(data-width number) - 1) * var(--dashboard-gap));
  height: calc(var(--component-length) * attr(data-height number) + (attr(data-height number) - 1) * var(--dashboard-gap));
  grid-column: span attr(data-width number);
  grid-row: span attr(data-height number);
}
#dashboard-tab .dashboard-container .dashboard-item.pos-override {
  grid-column-start: attr(data-column-start number);
  grid-row-start: attr(data-row-start number);
}
#dashboard-tab .dashboard-container .dashboard-item .dashboard-item-header {
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
}
#dashboard-tab .dashboard-container .team-summary .member-sprite-small {
  width: 50px;
  height: 50px;
}
#dashboard-tab .dashboard-container .team-summary .cell {
  background-color: unset;
  text-align: center;
}
#dashboard-tab .dashboard-container .team-summary .cell.type-cell img {
  width: 30px;
  height: 30px;
}
#dashboard-tab .dashboard-container .team-summary tbody tr:hover {
  background-color: #fafafa;
  cursor: pointer;
}
#dashboard-tab .dashboard-container .team-summary tbody tr .cell {
  padding: 20px 5px;
}
#dashboard-tab .dashboard-container .team-summary .no-team-message {
  cursor: pointer;
  flex-grow: 1;
}
#dashboard-tab .dashboard-container .team-summary .no-team-message:hover {
  background-color: #fafafa;
}
#dashboard-tab .dashboard-container .resource-list a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
#dashboard-tab .dashboard-container .resource-list li {
  padding: 2px 10px;
  list-style: none;
}
#dashboard-tab .dashboard-container .resource-list li:hover {
  background-color: #fafafa;
  cursor: pointer;
}
#dashboard-tab .dashboard-container .resource-list li:hover a {
  text-decoration: underline;
}