:root {
    --dark-type-color: #333;
    --dark-type-color-light: #33333326;
    --dark-type-text-color: #fff;
    --psychic-type-color: #f8b3ff;
    --psychic-type-color-light: #f8b3ff26;
    --psychic-type-text-color: #000;
    --fairy-type-color: #ffb3ff;
    --fairy-type-color-light: #ffb3ff26;
    --fairy-type-text-color: #000;
    --normal-type-color: #ccc;
    --normal-type-color-light: #cccccc26;
    --normal-type-text-color: #000;
    --fighting-type-color: #ff8080;
    --fighting-type-color-light: #ff808026;
    --fighting-type-text-color: #000;
    --flying-type-color: #cce0ff;
    --flying-type-color-light: #cce0ff26;
    --flying-type-text-color: #000;
    --poison-type-color: #e066ff;
    --poison-type-color-light: #e066ff26;
    --poison-type-text-color: #000;
    --ground-type-color: #ffcc80;
    --ground-type-color-light: #ffcc8026;
    --ground-type-text-color: #000;
    --rock-type-color: #d2b48c;
    --rock-type-color-light: #d2b48c26;
    --rock-type-text-color: #000;
    --bug-type-color: #cce6c6;
    --bug-type-color-light: #cce6c626;
    --bug-type-text-color: #000;
    --ghost-type-color: #b3b3ff;
    --ghost-type-color-light: #b3b3ff26;
    --ghost-type-text-color: #000;
    --steel-type-color: #e6e6e6;
    --steel-type-color-light: #e6e6e626;
    --steel-type-text-color: #000;
    --fire-type-color: #ffb3b3;
    --fire-type-color-light: #ffb3b326;
    --fire-type-text-color: #000;
    --water-type-color: #b3d1ff;
    --water-type-color-light: #b3d1ff26;
    --water-type-text-color: #000;
    --grass-type-color: #b3ffb3;
    --grass-type-color-light: #b3ffb326;
    --grass-type-text-color: #000;
    --electric-type-color: #ffffb3;
    --electric-type-color-light: #ffffb326;
    --electric-type-text-color: #000;
    --ice-type-color: #b3ffff;
    --ice-type-color-light: #b3ffff26;
    --ice-type-text-color: #000;
    --dragon-type-color: #bbb3ff;
    --dragon-type-color-light: #bbb3ff26;
    --dragon-type-text-color: #000;
    --sound-type-color: #b3fff2;
    --sound-type-color-light: #b3fff226;
    --sound-type-text-color: #000;
    --primary-color: #0300be;
    --secondary-color: #0060b9;
}

html {
    

}

body {
    background: linear-gradient(135deg, #e0e7ef 0%, #e0e7ef 50%, #b3c6e7 100%);
    min-height: 100vh;
    margin: 0;
    padding-top: 2rem;
}

body:has(.modal-open) {
    overflow: hidden;
    height: 100vh;
}

  [v-cloak] {
    display: none;
  }

#main {
    // border: 3px solid #006ae4;
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    width: 100%;
    max-width: 2100px;
    margin: 1% auto;
    font-family: Arial, sans-serif;
    border-radius: 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    background-color: #fafafa;
    background: linear-gradient(131deg,rgba(242, 247, 255, 1) 0%, rgba(235, 243, 255, 1) 100%);
    height: 1005px;
    overflow: hidden;
}

#page-heading {
    text-align: center;
    max-width: 2000px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    margin-top: 0px;

    &.section-title {
        &:after {
            font-size: 2rem;
            background-color: #e0e7ef;
        }
    }
}

.has-error {
    border: 1px solid red;
    color: red;
}

.results-container
{
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 10px;
}

.pokemon-search-container {
    margin: 10%;
    min-width: 300px;
    min-height: 300px;
    padding: 20px 50px;
    background: white;
    border-radius: 20px;
    position: relative;
}

.search-results {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    padding-left: 0px;
    grid-template-rows: repeat(auto-fill, 50px);
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.clear-search {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.search-results .result {
    padding: 5px 0px;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none; /* For IE 10 and 11 */
}

.search-results .result:hover {
    background-color: #dbdbdb;
}

.search-sprite {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

.search-input {
    min-width: 300px;
    max-width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.type {
    padding: 5px 10px;
    border-radius: 7px;
}

.dark {
    background-color: var(--dark-type-color);
    color: var(--dark-type-text-color);
}

.psychic {
    background-color: var(--psychic-type-color);
    color: var(--psychic-type-text-color);
}
.fairy {
    background-color: var(--fairy-type-color);
    color: var(--fairy-type-text-color);
}
.normal {
    background-color: var(--normal-type-color);
    color: var(--normal-type-text-color);
}
.fighting {
    background-color: var(--fighting-type-color);
    color: var(--fighting-type-text-color);
}
.flying {
    background-color: var(--flying-type-color);
    color: var(--flying-type-text-color);
}
.poison {
    background-color: var(--poison-type-color);
    color: var(--poison-type-text-color);
}
.ground {
    background-color: var(--ground-type-color);
    color: var(--ground-type-text-color);
}
.rock {
    background-color: var(--rock-type-color);
    color: var(--rock-type-text-color);
}
.bug {
    background-color: var(--bug-type-color);
    color: var(--bug-type-text-color);
}
.ghost {
    background-color: var(--ghost-type-color);
    color: var(--ghost-type-text-color);
}
.steel {
    background-color: var(--steel-type-color);
    color: var(--steel-type-text-color);
}
.fire {
    background-color: var(--fire-type-color);
    color: var(--fire-type-text-color);
}
.water {
    background-color: var(--water-type-color);
    color: var(--water-type-text-color);
}
.grass {
    background-color: var(--grass-type-color);
    color: var(--grass-type-text-color);
}
.electric {
    background-color: var(--electric-type-color);
    color: var(--electric-type-text-color);
}
.ice {
    background-color: var(--ice-type-color);
    color: var(--ice-type-text-color);
}
.dragon {
    background-color: var(--dragon-type-color);
    color: var(--dragon-type-text-color);
}
.sound {
    background-color: var(--sound-type-color);
    color: var(--sound-type-text-color);
}
.team-sidebar-container {
    /* border: 1px solid #ccc; */
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: repeat(auto-fill, 150px);
    gap: 10px;
    overflow: hidden;
    max-height: 100%;
}
.team-member h3 {
    margin-top: 0;
    text-align: center;
}

.team-member {
    justify-self: center;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.team-member .member-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.team-member .member-sprite {
    width: 50px;
    height: 50px;
    display: block;
}

.team-member .member-name {
    font-size: 1.3em;
    margin: 0;
    text-align: left;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.ability-select {
    width: 100%;
    padding: 10px 5px;
    border-radius: 7px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 1em;
    box-sizing: border-box;
    color:#464646;
}

.close-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin-left:auto;
    font-weight: bold;
    opacity: 0.5;
    font-size: 1.2em;
    margin-top: -10px;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
}

.close-btn:hover {
    opacity: 1;
}

.team-container-wrapper {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 150px);
    row-gap: 10px;
    overflow: hidden;
    height: 100%;
    grid-column: 1 / 3;

    --primary-color: #f0f0f0;
    --secondary-color: #f0f0f0;

    .team-member {
        background: linear-gradient(white, white) padding-box, /* Solid background for content */
                    linear-gradient(to right, var(--primary-color), var(--secondary-color)) border-box; /* Gradient for border */
        border-radius: 10px;
        border: 4px solid transparent;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .member-header {
            overflow: unset;

        }
        .member-name {
            text-wrap: nowrap;
        }
    }

    .cell {
        text-wrap: nowrap;
    }

    .member-moves {
        width: max-content;
    }
}

.team-container-wrapper .team-member {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
}

.team-container-wrapper .team-member:hover, .team-sidebar-container .team-member:not(.active):hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.team-container-wrapper .team-member .member-header {
    align-self: flex-start;
    width: 150px;
}

.team-container-wrapper .team-member .member-header img {
    width: 100px;
    height: 100px;
}

.member-moves {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    gap: 5px;
    align-content: center;
}

.member-moves .move {
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 0.9em;
    background-color: #f9f9f9;
}

.member-table {
    /* flex-grow: 1; */
    text-align: center;
}

.member-table .cell {
    // padding: 5px 20px;
    margin: 2px;
    vertical-align: baseline;
}

.member-table .type-cell {
    /* display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    align-items: center; */
}
.member-table .type-cell img {
    width: 41.5px;
    height: 41.5px;
}

.empty-slot {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #999;
    font-style: italic;
    width: 100%;
}

.empty-slot:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.cell {
    margin: 5px 0;
    border-radius: 0px;
    padding: 5px;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.cell img {
    width: fit-content;
}

.cell .pkm-cell {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;

    img {
        height: 30px;
        width: 30px;
    }
}
.cell:has(img) {
    padding: 0px;
}

.team-effectiveness, .move-coverage {
    max-width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;

        tr {
            &:hover {
                background-color: #fafcff;
            }
        }

        thead {
            .cell {
                padding: 10px;
                background-color: #f1f7ff;
                border-bottom: 1px solid #dfdfdf;
            }
        }
    }

    .has-move {
        color: green;
        font-weight: bold;
    }

    .cell:has(.has-move) {
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        
    }
}

.cell.total {
    // background-color: #f2f2f2;
    font-size: 1.2rem;
}

.cell.type img {
    width: 41.5px;
    height: 41.5px;
}




.resist {
    background-color:rgb(247 190 129);
    font-weight: bold;
    padding: 7px 5px;
}

.weak {
    font-weight: bold;
    padding: 7px 5px;
    background-color: rgb(45 214 144);
}

.immune {
    font-weight: bold;
    padding: 7px 5px;
    background-color: #555;
    color: #fff;
}

.stats-table .cell {
    outline: 1px solid #ccc;
    box-sizing: border-box;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.pokemon-search-container {
    cursor: auto;
    flex-grow: 1;
    max-width: 2000px
}

.modal {
    display: none;
}

.modal.modal-open {
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-content {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    min-width: 50%;
    max-width: 2100px;
    max-height: 90%;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.member-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.member-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.team-sidebar-container{
    // .team-member.active::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: -10px;
    //     width: 20px;
    //     height: 100%;
    //     background-color: white;

    //     box-sizing: border-box;
    //     pointer-events: none;
    // }

    .team-member:not(:has(.empty-slot)) {
        &.active, &:hover {
            outline: 3px solid #006ae4;
        }
    }
}

#currently-viewing {
    height: 100%;
    padding: 10px 10px 10px 0px;
    position: relative;

    .input-group-text, .form-select, .form-control, .btn {
        font-size: 1rem;
    }

    .team-member {
        display: grid;
        grid-template-columns: 650px 1fr;
        grid-template-rows: repeat(auto-fill, minmax(auto, 600px));
        gap: 25px;
        height: 100%;

        .member-header {
            padding: 20px;
            border: 3px solid #006ae4;
            border-radius: 10px;
            max-height: 600px;
            background: #f4f8ff;
            position: relative;


            .shiny-checkbox {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 1rem;

                .form-check-input {
                    cursor: pointer;
                }

                .form-check-label {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

            .back-to-team {
                position: absolute;
                top: 15px;
                left: 15px;
            }

            .type {
                font-size: 1rem;
            }
            .member-sprite {
                height: 200px;
                width: 200px;
            }
        }

        .member-moves {
            grid-template-columns: 1fr;
            max-width: unset;
            border: 3px solid #006ae4;
            padding: 20px;
            border-radius: 10px;
            position: relative;

            &:after {
                content: "Moves";
                position: absolute;
                left: -45px;
                top: 47%;
                transform: rotate(-90deg);
                background: #ffffff;
                font-size: 1.3rem;
                padding: 0px 10px;
                color: #006ae4;
                font-weight: bold;
            }

            .cell {
                    // font-size: 1.2rem;
            }

            .move {
                // font-size: 1.1em;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid #006ae4;
                background-color: #e6f0ff;
                font-weight: bold;
                height: 60px;
                overflow: hidden;

                &:hover {
                    background-color: #cce0ff;
                    cursor: pointer;
                }

                .cell {
                    padding: 5px 10px;
                    vertical-align: middle;

                    &.cell-text {
                        text-align: left;
                    }

                    img {
                        width: fit-content;
                        height: fit-content;
                        max-height: 40px;
                    }
                }

                td { 
                    font-weight: normal;
                }

                span{
                    max-height: 50px;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        .move-list {
            font-weight: 0.9em;

            .move {
                height: 60px;

                &.cell-text {
                    text-align: left;
                }

                span {
                    max-height: 50px;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

    }
    .move-select {
            grid-area: 1 / 2 / 3 / 3;
    }

    .member-move-list {
        grid-area: 2/1/3/3;
        overflow-y: auto;
        height: 500px;
        width: 100%;
        position: relative;

        table {
            width: 100%;

            thead {
                position: sticky;
                top: 0;
                background: white;
                z-index: 1;
            }
        }
        .move{
            width: 100%;
            &:hover {
                background-color: #cce0ff;
                cursor: pointer;
            }

            border-top: 2px solid #006ae4;
            border-bottom: 2px solid #006ae4;

            .cell {
                padding: 10px 0px;
            }
        }
    }
}

#all-pokemon, #all-abilities, #all-moves {
    grid-column: 1 / 3;
    padding: 25px;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .all-pokemon-header, .all-abilities-header {
        border-bottom: 2px solid #ccc;
    }

    .search {
        width: 100%;
        max-width: 800px;
        margin: 0 auto 20px auto;
        display: flex;
        justify-content: center;
    }

    #filters-collapse{
        max-width: 800px;
        margin: 0 auto 20px auto;
        border: 1px solid #006ae4;
        padding: 10px 15px;
        border-radius: 10px;
        position: relative;

        &:after {
            // content: "Filters";
            position: absolute;
            left: -40px;
            top: 50%;
            transform: rotate(-90deg) translateX(20%);
            background: #fafafa;
            font-size: 1.2rem;
            padding: 0px 10px;
            color: #006ae4;
            font-weight: bold;
        }
    }

    .pokemon-list, .ability-list, .move-list {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        position: relative;

        .pokemon {
            background: linear-gradient(to right, var(--primary-color), var(--secondary-color));

        }
        
        table {
            thead {
                position: sticky;
                top: 0;
                background: #f1f7ff;
                z-index: 1;
            }
            tbody {
                tr {
                    border-bottom: 1px solid #ccc;
                    &:hover {
                        background-color: #f0f0f0;
                        cursor: pointer;
                    }
                }
            }
            .cell {
                &.sprite-cell {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            } 
        }
    }
}

.item-container {
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #b7d5f8;
    box-shadow: -1px 3px 6px 1px rgb(0 0 0 / 12%);
    position: relative;
    margin-bottom: 10px;

    .stat-bar {
        display: inline-block;
        height: 10px;
        background-color: #006ae4;
        // border-radius: 5px;
        position: relative;
        max-width: 135px;

    }

    &::after {
        content: attr(data-content);
        position: absolute;
        right: 106%;
        top: 10px;
        color: #8f8f8f;
    }

}

#view-pokemon-modal {
    .modal-content {
        min-width: 700px;
        max-width: 750px;
        width: fit-content;
        cursor: auto;
    }
    .pokemon-details {
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .header {
            padding: 20px;
            border: 3px solid #006ae4;
            border-radius: 10px;
            max-height: fit-content;
            font-size: 1.2rem;
            background: #f4f8ff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .type {
                font-size: 1rem;
            }
            .member-sprite {
                height: 200px;
                width: 200px;
            }

        }
        .item-container {
            display: grid;
            grid-template-columns: 30px auto;
            gap: 10px;
            align-items: center;
            text-align: right;
        }
        

        .evolutions {
            border-radius: 10px;
            position: relative;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // &:after {
            // content: "Evolutions";
            // position: absolute;
            // left: -64px;
            // top: 44%;
            // transform: rotate(-90deg);
            // background: #ffffff;
            // font-size: 1.3rem;
            // padding: 0px 10px;
            // color: #006ae4;
            // font-weight: bold;
            // }

            .evolution {
                cursor: pointer;
            }
        }
    }
}

.section-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #006ae4;
    border: 2px solid;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;

    &:after {
        content: attr(data-content);
        position: absolute;
        background-color: white;
        transform: translate(-50%, -50%);
        left: 50%;
        padding: 0px 10px;
        width: max-content;
    }
}

.type-effectiveness {
    .cell {
        &.type {
            img {
                width: 30px;
                height: 30px;
            }
        }

        text-align: center;
        border: 1px solid #ccc;
    }
}

#type-chart {
    width: 100%;
    display: flex;
    grid-area: 1 / 2;
    align-items: center;
    justify-content: center;
    
    .type-chart-table {
        border-collapse: collapse;
        position: relative;
        background-color: white;
    
        tbody tr {
            &:hover {
                background-color: #f0f0f0;
            }
        }
        .cell {
            text-align: center;
            border: 1px solid #ccc;
    
            &.type {
                img {
                    width: 41.5px;
                    height: 41.5px;
                }
            }
        }

        &::after {
            content: "Defending";
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            font-size: 1.3rem;
        }

        &::before {
            content: "Attacking";
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translate(25%, -50%) rotate(-90deg);
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
}

::-webkit-inner-spin-button {
    appearance: none;
}

input[type=number], .number-input {
    -moz-appearance:textfield;
}

.btn-rounded {
    border-radius: 50px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rounded.outline-primary {
    background-color: transparent;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
        color: white;
    }
}

.bg-primary-gradient {
    background: linear-gradient(150deg, var(--primary-color) 0%, var(--secondary-color) 70%);
    color: white;
}

.btn.bg-primary-gradient:hover, .btn-rounded.bg-primary-gradient:hover {
    background: linear-gradient(-150deg, var(--secondary-color) 0%, var(--primary-color) 70%);
}

//
// Media queries
//
@media (max-width: 1600px) {
    .hide-lg {
        display: none !important;
    }
}

@media (max-width: 1400px) {
    .hide-md {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    #main {
        overflow: auto;
    }

    #currently-viewing {
        .team-member {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            gap: 15px;

            .member-header {
                max-height: unset;
            }

            .member-moves {
                grid-area: auto;
                &:after {
                    left: 50%;
                    top: 0;
                    transform: rotate(0deg) translate(-50%, -50%);
                }
            }

            .member-move-list {
                grid-area: auto;
                height: 400px;
            }
            
            .move-select {
                grid-area: auto;
            }

            .pokemon-details {
                grid-area: 2/1;
            }
        }
    }
}

.btn.icon-btn {
    background-color: #ccc;
    color: white;
    border: none;
}

@media (max-width: 700px) {
    .team-container {
        grid-template-columns: 300px;
        justify-content: center;
    }

    .hide-sm {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .hide-xs {
        display: none !important;
    }
}

